# Variables

{{ $lastSectionValue := "" -}}
{{ range $sectionName, $variables := .sections -}}
{{   $sectionValue := "" -}}
{{   if $sectionName -}}
## `{{ $sectionName }}`
{{   else -}}
## Top level
{{   end -}}

{{   range $variableName, $variable := $variables -}}
{{     with $variable -}}
{{       $nameValue := $variableName -}}
{{       if regexMatch "\\A\\w+\\z" $nameValue -}}
{{         $nameValue = printf "`%s`" $nameValue -}}
{{       end -}}
{{       $defaultValue := "*none*" -}}
{{       if eq .type "bool" -}}
{{         $defaultValue = "`false`" -}}
{{       end -}}

### `{{ if $sectionName }}{{ $sectionName }}.{{ end }}{{ $variableName }}`

{{       $defaultValue := "*none*" -}}
{{       if eq .type "bool" -}}
{{         $defaultValue = "`false`" -}}
{{       end -}}
Type: `{{ .type | default "string" }}`,
default: {{ .default | default $defaultValue }}

{{ .description }}

{{     end -}}
{{   end -}}
{{ end -}}
